

.form-group label{
font-size: 16px;

}

.form-group input{
padding: 10px;
}

.form-group button{
    background-color:#B45113;
    font-size: 18px;
    padding : 10px 20px;
    text-align: center;
    color: white;
}

.hr-line
{
    width:120px;
    height:4px;
    background-color:#ffaf02 ;
    margin: 0 auto;
}
