<div class="container">
  <div class="d-flex justify-content-center align-items-center" style="min-height: 85vh; transform: translate(-50px,-50px);">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div class="text-center mb-4">
        <p class="fs-6">Use your email address and reference ID to view reservation details.</p>
      </div>
      <div class="mb-3">
        <div class="form-group form-floating">
          <input type="text" id="email" class="form-control p-2" formControlName="email" placeholder="email@example.com">
          <label for="email">Email Address</label>
        </div>
      </div>
      <div class="mb-4">
        <div class="form-group form-floating">
          <input type="text" id="refID" class="form-control p-2" formControlName="refID" placeholder="Reference ID">
          <label for="refID">Reference ID</label>
        </div>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-success fs-5">Manage</button>
      </div>
    </form>
  </div>
</div>

