

<div class="container">
    <ul class="nav">
        <li class="nav-item" *ngFor="let carInfo of carList" >
            
        <div class="car-container my-4 d-flex">
            <div class="img-container" style="width:400px; height:250px">
                <img class="card-img-top w-100 h-100" [src]="'data:image/jpeg;base64,' + carInfo.image" alt="">
            </div>
            <div class="details-container px-5">
                <h4>model: {{carInfo.model}}</h4>
                <p>price: {{carInfo.price}}</p>
                <p>fromDate: {{carInfo.fromDate}}</p>
                <p>toDate: {{carInfo.toDate}}</p>



                </div>

            </div>
        </li>
    </ul>
</div>



