<!-- Car Table -->
<div class="container mt-5">
    <!-- <div class="d-flex">
        <button class="ms-auto" mat-raised-button color="primary" routerLink="/add-car">Add New Car</button>
    </div> -->

<div class="table-container mat-elevation-z8 mt-3">
    <table mat-table [dataSource]="ownerRes">
      <ng-container matColumnDef="Pickup">
        <th mat-header-cell *matHeaderCellDef>Pickup</th>
        <td mat-cell *matCellDef="let res">{{res.startDate}} <br> {{res.startLocation}} </td>
      </ng-container>
  

  
      <ng-container matColumnDef="Return">
        <th mat-header-cell *matHeaderCellDef>Return</th>
        <td mat-cell *matCellDef="let res">{{ res.endDate }} <br> {{res.endLocation}}</td>
      </ng-container>

      <ng-container matColumnDef="Car Type">
        <th mat-header-cell *matHeaderCellDef>Car Type</th>
        <td mat-cell *matCellDef="let res"> 
            {{res.car.vehicleType.typeName}}:{{res.car.vehicleType.vehicleClass}} <br>
            {{res.car.model}} {{res.car.year}}
        </td>
      </ng-container>
  
      <ng-container matColumnDef="Client">
        <th mat-header-cell *matHeaderCellDef>Client</th>
        <td mat-cell *matCellDef="let res">{{ res.user.firstName + ' ' + res.user.lastName }} <br> {{res.user.email}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Total Price">
        <th mat-header-cell *matHeaderCellDef>Total Price</th>
        <td mat-cell *matCellDef="let res">{{ res.totalPrice }}</td>
      </ng-container>
  
      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td color="primary" mat-cell *matCellDef="let res">
          <select for="status" class=" d-inline px-3 py-2 badge text-black border-0"  (change)="ChangeRStatus(res.reservationId, $event)"
          style="font-size:14px;font-weight:400">
          <option selected  >{{res.status}}</option>
            <option [value]="i" *ngFor="let i of paymentStatusOption">{{i}}</option>
            
        </select>
        </td>
      </ng-container>
  
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let res">
          <button mat-icon-button [routerLink]="['/res-action', res.reservationId]" color="primary">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteReservation(res.reservationId)" color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>



